$contentBackgroundColor: black;
$headerPic: url('../img/m-h-night.jpg') no-repeat center center;
$font-stack: 'Source Sans Pro', sans-serif;
$font-fortext: 'Hind', sans-serif;
$font-weights: ('regular': 400, 'bold': 600, 'bolder' : 700);
$displayFlex: flex;
$footerBackgroundColor: rgb(53, 53, 53);
$footerColor: white;
$bodyTextColor: white;
$buttonBackgroundColor: #ffb300;
$gradient-forlight: linear-gradient(to right, #ffb300 , #97233F);
$colorHighlight: #fe5a1d;