$contentBackgroundColor: #fff;
$headerPic: url('../img/m-h-day.jpg') no-repeat center center;
$font-stack: 'Source Sans Pro', sans-serif;
$font-fortext: 'Hind', sans-serif;
$font-weights: ('regular': 400, 'bold': 600, 'bolder' : 700);
$displayFlex: flex;
$footerBackgroundColor: #202130;
$footerColor: white;
$bodyTextColor: rgb(53, 53, 53);
$buttonBackgroundColor: #8db600;
$gradient-forlight: linear-gradient(to right, #8db600 , #3457D5);
$colorHighlight: #3457D5;